@{
    ViewBag.Title = "Email Sent Confirmation";
}
<div class="row row-container w3-padding-24">
    <div class="col-md-12">
        <div class="col-md-8 center-block" style="float:none;border-radius:20px;font-size:20px">
            <div class="pabel panel-success k-shadow">
                <div class="panel-heading text-center" style="border-bottom:1px solid green">
                    <b>Confirm Account Email Sent <i class="fa fa-check-circle-o"></i></b>
                </div>
                <div class="panel-body" style="background-color:white">
                    <p class="text-center">
                        Please check your email to confirm your account. If you did not find the email in your main mailbox, please look for the email in junk mailbox.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


