@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="row row-container w3-padding-24">
    <div class="col-md-12">
        <div class="col-md-8 center-block" style="float:none;border-radius:20px;font-size:20px">
            <div class="pabel panel-success k-shadow">
                <div class="panel-heading text-center" style="border-bottom:1px solid green">
                    <b>Password Reset Successfully <i class="fa fa-check-circle-o"></i></b>
                </div>
                <div class="panel-body" style="background-color:white">
                    <p class="text-center">
                        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="link" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>